# Ignore node_modules
node_modules/

# Ignore build outputs
dist/
build/
out/
coverage/

# Ignore TypeScript cache
*.tsbuildinfo

# Ignore environment/config files
.env
*.config.js
*.config.cjs
*.config.mjs

# Ignore IDE/editor folders
.vscode/
.idea/

# Ignore lockfiles if not needed
package-lock.json
yarn.lock
pnpm-lock.yaml

# Ignore IG publisher too large
publisher.jar
